body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#GrandeSessao {
  width: fit-content;
  display: flex;
}

#preImage-container {
  display: inline-block;
}

#container {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  border: 1px black solid;
  position: relative;
  background-color: white;
}

#meme-image-container {
  width: fit-content;
  height: fit-content;
  border: 1px black solid;
  position: relative;
  background-color: white;
  margin: auto;
}

#meme-image {
  width: 280px;
  height: 280px;
  display: block;
  margin: auto;
  position: relative;
  border: 1px black solid;
  background-color: white;
}

#image-input {
  width: 280px;
  height: 280px;
  display: block;
  margin: auto;
}

#text-input {
  display: block;
  width: 200px;
  margin: 20px;
}

#meme-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
}

.bordas {
  height: 30px;
  width: 31%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.memesProntos {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
}

#meme-1 {
  width: 100px;
  height: 95px;
}

#meme-2 {
  width: 100px;
  height: 95px;
}

#meme-3 {
  width: 100px;
  height: 95px;
}

#meme-4 {
  width: 100px;
  height: 95px;
}
